/* 
    General Styles
*/
/* .navbar-toggler-icon{
    filter: invert(97%) sepia(0%) saturate(7463%) hue-rotate(77deg) brightness(110%) contrast(100%);
    filter: brightness(100%) invert(1) !important;


  }
  #navbarIcon{
    filter: brightness(100%) invert(1) !important;
    background-color: white;
  } */
  #main{
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .Footer{
    margin-top: auto;
  }